# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Pytest
.pytest_cache/
.coverage
htmlcov/
pytest-report.html
report.html

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# IDEs & Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
